body  {
	background-color: beige;
	font-family: Arial;
}

.navy  {
    color: navy;
	font-size 32px;
}	

#specialStyle  {
	border: 4px double navy; 
}	


body {
    background-color:  #a0522d; 
    background-image: linear-gradient(135deg, #d2b48c, #f5f5dc); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
}
